/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1, h2, h3, p {
    margin: 0 0 20px;
  }
  
  /* Header Styles */
  header {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Стилі для логотипа */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  
  .logo-span {
    color: #2e2f42;
  }
  
  /* Стилі навігації */
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  
  /* Стилі для контактної інформації */
  .contact-info ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
  
  address {
    font-style: normal;
  }
  
  
  /* Main Styles */
  .hero-section {
    padding: 40px 20px;
    background-color: #eaeaea;
    text-align: center;
  }
  
  .hero-title {
    font-size: 36px;
  }
  
  .btn-order {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn-order:hover {
    background-color: #0056b3;
  }
  
  /* Strategy Section */
  .strategy-list {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .strategy-list li {
    flex: 1 1 calc(25% - 40px);
    margin: 20px;
  }
  
  /* Team Section */
  .team-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .team-list li {
    flex: 1 1 calc(25% - 40px);
    margin: 20px;
  }
  
  /* Portfolio Section */
  .portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfolio-list li {
    flex: 1 1 calc(33.33% - 40px);
    margin: 20px;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .strategy-list, .team-list, .portfolio-list {
      flex-direction: column;
    }
  }